.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 7px 0 #000000;
  border-radius: 5px;
  padding: 20px;
}

.note-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.edit-wrapper {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edit-button {
  margin: 5px;
}

.text-content-editable {
  border: 1px solid #000000;
  margin: 5px;
  width: 80%;
  min-height: 100px;
  padding: 5px 15px;
  margin: 5px;
}
